* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Circular Std', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-MediumItalic.eot');
    src: local('Circular Std Medium Italic'), local('CircularStd-MediumItalic'),
        url('CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-MediumItalic.woff2') format('woff2'),
        url('CircularStd-MediumItalic.woff') format('woff'),
        url('CircularStd-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Black.eot');
    src: local('Circular Std Black'), local('CircularStd-Black'),
        url('CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Black.woff2') format('woff2'),
        url('CircularStd-Black.woff') format('woff'),
        url('CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Medium.eot');
    src: local('Circular Std Medium'), local('CircularStd-Medium'),
        url('CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Medium.woff2') format('woff2'),
        url('CircularStd-Medium.woff') format('woff'),
        url('CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Bold.eot');
    src: local('Circular Std Bold'), local('CircularStd-Bold'),
        url('CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Bold.woff2') format('woff2'),
        url('CircularStd-Bold.woff') format('woff'),
        url('CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-BlackItalic.eot');
    src: local('Circular Std Black Italic'), local('CircularStd-BlackItalic'),
        url('CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-BlackItalic.woff2') format('woff2'),
        url('CircularStd-BlackItalic.woff') format('woff'),
        url('CircularStd-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-BookItalic.eot');
    src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
        url('CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-BookItalic.woff2') format('woff2'),
        url('CircularStd-BookItalic.woff') format('woff'),
        url('CircularStd-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-BoldItalic.eot');
    src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
        url('CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-BoldItalic.woff2') format('woff2'),
        url('CircularStd-BoldItalic.woff') format('woff'),
        url('CircularStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-Book.eot');
    src: local('Circular Std Book'), local('CircularStd-Book'),
        url('CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Book.woff2') format('woff2'),
        url('CircularStd-Book.woff') format('woff'),
        url('CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.nav {
    padding: 15px 0;
}

.nav .container {
    width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;

    color: #FFFFFF;

}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-link {
    padding: 14px 7px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    letter-spacing: -0.500211px;
    transition: 0.5s;
    color: #Fff;
}

.nav-link:hover {
    color: #F04037;

}

.get-start {
    padding: 17px 40px;
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    background-color: #F04037;
}

.get-start:hover {
    background-color: #f52217;
}

.dropdown-list {
    padding: 20px 0;
    width: 200px;
    background-color: white;
    display: none;
    position: absolute;
    left: 100%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    border: 1px solid #EAE9F2;
    border-top: 3px solid #5454D4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
    box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
}

.dropdown-link {
    padding: 10px 27px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.subdropdown {
    position: relative;
}

.subdropdown:hover .subdropdown-list {
    display: block;
}

.subdropdown-list {
    padding: 20px 0;
    background-color: white;
    display: none;
    position: absolute;
    left: 0%;
    top: 0;
    -webkit-transform: translate(-100%);
    -ms-transform: translate(-100%);
    transform: translate(-100%);
    border: 1px solid #EAE9F2;
    border-top: 3px solid #F04037;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
    box-shadow: 0px 52px 54px rgba(65, 62, 101, 0.296766);
}

.subdropdown-link {
    padding: 10px 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}

.dropdown-item {
    margin: 5px 0;
}

.subdropdown-item {
    margin: 10px 0;
}



/* nav  end  */

.header>.container {
    padding-top: 200px;
    padding-bottom: 250px;
}

.header {
    background: url("../img/bitmap-header.png"), radial-gradient(100% 100% at 50% 0%, #504A93 0%, #413E65 100%);
    background-repeat: no-repeat;
    background-position: right -100px top 200px, center;
    background-size: 80%, auto;

}

.header-box {
    max-width: 50%;
}

.header-title {
    font-size: 80px;
    line-height: 84px;
    letter-spacing: -2.50105px;
    color: #FFFFFF;
}

.header-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 31px;
    margin-bottom: 41px;
}

.header-link-trial {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #FFFFFF;
    background: #F0544C;
    border: 1px solid #C31A12;
    border-radius: 5px;
    padding: 17px 40px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.no-required {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.437684px;
    color: rgba(255, 255, 255, 0.7);
}


/* end header  */


.second-section-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
}

.second-sec-img {
    max-width: 31px;
}

.strong-second-section-item {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.750316px;
    color: #19191B;
    margin-top: 43px;
    margin-bottom: 15px;
}

.text-second-section {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.500211px;
    color: #696871;
    max-width: 310px;
}

.second-section-item {
    display: flex;
    flex-direction: column;
}

.mini-section-img {
    width: auto;
    filter: grayscale(100%);
    transition: filter 1s;
}

.mini-section-img:hover {
    filter: none;
}

.mini-section-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;
}

.bottom-second-section {
    border: 1px solid #EAE9F2;
}

/* end second section  */

.easily{
    background-color: #F7F7FB;
    padding: 220px 0;
    background-image: url("../img/bg-easily.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45% auto;
}

.easily-title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.easily-text {
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #696871;
    margin-bottom: 40px;
    margin-top: 25px;
}

.easily-icon {
    max-width: 30px;
    max-height: 30px;
}

.easily-item-nam {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.656526px;
    color: #19191B;
    margin-left: 12px;
}

.easily-item{
    width: 272px;
    margin-top: 20px;
    align-items: center;
    display: flex;
}

.easily-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.easily-box{
    width: 50%;
}

